// @import './settings.scss';

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   line-height: 1.3em;
//   font-size: 14px;
// }

// .trello-master {
//   height: 100vh;
//   display: grid;
//   grid-template-rows: 40px 50px 1fr;
//   background-color: var(--board-bg-color);

//   .navbar{

    

//   }

//   .board-columns{
//     display: flex;
//     margin: 0 var(--gap) var(--gap);
//     gap: 10px;
//     overflow-x: auto;

//     &::-webkit-scrollbar{
//       -webkit-appearance: none;
//     }

//     &::-webkit-scrollbar:horizontal{
//       height: 11px;
//     }

//     &::-webkit-scrollbar-thumb{
//       background-color: rgba(255, 255, 255, 0.24);
//       border-radius: 5px solid var(--list-bg-color);
//     }

//     .column{
//       flex: 0 0 auto;
//       width: 300px;
//       height: calc(100% - var(--gap));
//       /* margin-left: 10px; */

//       >* {
//         background-color: var(--list-bg-color);
//         color:#333;
//         padding: 0 8px;
//       }

//       header{
//         padding-left: 15px;
//         height: var(--column-header-height);
//         line-height: var(--column-header-height);
//         font-size: 16px;
//         font-weight: bold;
//         border-top-left-radius: var(--column-border-radius);
//         border-top-right-radius: var(--column-border-radius);
//       }

//       footer{
//         padding-left: 10px;
//         height: var(--column-footer-height);
//         line-height: var(--column-footer-height);
//         border-bottom-left-radius: var(--column-border-radius);
//         border-bottom-right-radius: var(--column-border-radius);
//       }

//       ul{
//         list-style-type: none;
//         margin: 0;
//         max-height: calc(100% - var(--column-header-height) - var(--column-footer-height));
//         overflow-y: auto;

//         &::-webkit-scrollbar{
//           -webkit-appearance: none;
//         }

//         &::-webkit-scrollbar:vertical{
//           width: 11px;
//         }

//         &::-webkit-scrollbar-thumb{
//           background-color: var(--dark-list-bg-color);
//           border-right: 5px solid var(--list-bg-color);
//         }

//         li{
//           background-color: white;
//           padding: var(--gap);
//           border-radius: var(--card-border-radius);
//           box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
//           &:not(:last-child){
//             margin-bottom: var(--gap);
//           }
          
//           img{
//             display: block;
//             width: calc(100% + 2 * var(--gap));
//             margin: calc(-1 * var(--gap)) 0 var(--gap) calc(-1 * var(--gap));
//             border-top-left-radius: var(--card-border-radius);
//             border-top-right-radius: var(--card-border-radius);
      
//           }
//         }
//       }
//     }
//   }
// }
@import './settings.scss';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
  color: $app-main-color;

  .icon{
    font-size: 14px;
    margin-right: 3px;
  }
  
}
