$board-bg-color:  #d561da;
$gap: 10px;
$navbar-app-bg-color: #962f9a;
$navbar-board-bg-color:  #d561da; 
$list-bg-color: #ebecf0;
$app-main-color: #333;
$dark-list-bg-color: #c8cbd1; 
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;

// screen
$screen-lg:1201px;
$screen-md:992px;
$screen-sm:768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width:375px)'